# Example configuration for VHDLweb Flask application

# Flag used to identify various environments
# If this variable is something other than "production", then different colors
# will be used, and this text will be placed at the top of the page.
BUILD = "production"

# Random sequence used for session encryption
SECRET_KEY = b''

# Directory where the problem source files reside
# Needs to be an absolute path
SRCDIR="/home/vhdlweb/vhdlweb/data/problems"

# Working directory where we save and build submissions
# Needs to be an absolute path
WORKDIR="/tmp/vhdlweb"

# Additional arguments that will be passed to Make
# This is most useful for specifying the GHDL path
#MAKE_ARGS = ["GHDL=/home/steven/tools/ghdl/ghdl_mcode"]
MAKE_ARGS = []

