# Example configuration for VHDLweb Flask application

# Random sequence used for session encryption
SECRET_KEY = b''

# Directory where the problem source files reside
SRCDIR="/home/vhdlweb/vhdlweb/data/problems"

# Working directory where we save and build submissions
WORKDIR="/tmp/vhdlweb"

# Additional arguments that will be passed to Make
# This is most useful for specifying the GHDL path
#MAKE_ARGS = ["GHDL=/home/steven/tools/ghdl/ghdl_mcode"]
MAKE_ARGS = []

