{% extends "layout.html" %}

{% block content %}
VHDLweb is an online VHDL simulator and coding exercise tool.<br/>
<br/>

Anyone is welcome to view and work through the problems, but at present your work will not be saved beyond a single browser session.
If you're a Tufts student, please <a href="login">log in</a> to get credit for completing the ES 4 homework exercises.<br/>

<br/>
Please note that all submissions to this website are logged and may be used for research on how students learn digital design.
{% endblock %}


