{% extends "layout.html" %}

{% block content %}

<h2><a href="static/vhdl_cheatsheet.pdf">Reference sheet</a></h2>


<h2>External websites</h2>
<ul class="booklist">
<li> <a href="https://www.nandland.com/">NANDLAND</a> has a good VHDL reference and a set of tutorials on desiging various useful circuits.
<li> <a href="https://vhdlwhiz.com/basic-vhdl-tutorials/">VHDLwhiz</a> has a set of free tutorials.  The author takes a somewhat unconventional approach starting with testbenches rather than synthesizable code, but he generally explains with clarity and detail.
<li> <a href="https://www.ics.uci.edu/~jmoorkan/vhdlref/">Simple but useful collection of resources</a> from Jayram Moorkanikara at UC Irvine.  This is the closest thing to a usable language reference that I've found.
<li> <a href="https://www.seas.upenn.edu/~ese171/vhdl/vhdl_primer.html">VHDL Primer</a> from Jan Van der Spiegel at Penn. A few things are outdated, but it's a good introduction to VHDL.
</ul>

<h2>Books</h2>
<ul class="booklist">
<li><a href="static/free_range_vhdl.pdf"><span class="booktitle">Free-Range VHDL</span></a> -- This free book is one of the most concise and helpful introductions to VHDL I've found.
Written by Bryan Mealy and Fabrizio Tappero of <a href="http://www.freerangefactory.org">Free Range Factory</a>, distributed under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC-BY-SA</a>.  

<li>Ricardo Jasinski, <span class="booktitle">Effective Coding with VHDL: Principles and Best Practice</span> -- This is an excellent book that describes how to do things <emph>correctly</emph> with VHDL.  It goes through each feature of the language and describes not only how to use it, but how to use it effectively for clean and maintainable code.
</ul>

{% endblock %}

