{% extends "layout.html" %}

{% block content %}

<h2><a href="static/vhdl_cheatsheet.pdf">Reference sheet</a></h2>


<h2>External websites</h2>
<ul>
<li> Simple but useful collection of resources from Jayram Moorkanikara <a href="https://www.ics.uci.edu/~jmoorkan/vhdlref/">https://www.ics.uci.edu/~jmoorkan/vhdlref/</a>
</ul>

<h2>Books</h2>
<ul>
<li><a href="http://freerangefactory.org/"><span class="booktitle">Free-Range VHDL</span></a> -- Free book which is one of the most concise and helpful introductions to VHDL I've found.</li>
<li>Ricardo Jasinski, <span class="booktitle">Effective Coding with VHDL: Principles and Best Practice</span> -- This is an excellent book that describes how to do things <emph>correctly</emph> with VHDL.  It goes through each feature of the language and describes not only how to use it, but how to use it effectively for clean and maintainable code.
</ul>

{% endblock %}

